*{
    box-sizing: border-box;
}
.red{
    background: red;
    max-width: 1000px;
    display: flex;
    height: 900px;
    padding: 10px;
}
.green{
    background: green;
    height: 100%;
    width: 60%;
    display: flex;
    margin: auto;
    /*align-items: center;*/
    flex-direction: column;
    row-gap: 10px;
    padding: 5px;
}
.top{
    display: flex;
    width: 100%;
    height: 50%;
    flex-direction: column;
    row-gap: 10px;
    column-gap: 10px;
}
.tt{
    display: flex;
    width: 100%;
    height: 50%;
    flex-direction: row;
    column-gap: 10px;
}
.tb{
    display: flex;
    width: 100%;
    height: 50%;
    flex-direction: row-reverse;
    column-gap: 10px;
}
.yellow{
    background: yellow;
    width: 75%;
    height: 100%;
    margin: 0px;
}
.yellow:nth-child(2){
    width: 25%;
    height: 100%;
}
.bottom{
    display: flex;
    height: 50%;
    width: 100%;
    flex-direction: column;
    column-gap: 10px;
}
.bt{
    display: flex;
    width: 100%;
    height: 50%;
    flex-direction: row;
    column-gap: 10px;
}
.bb{
    width: 100%;
    height: 50%;

    padding-top: 10px;
}
.blue{
    background: blue;
    display: flex;
    width: 75%;
    height: 100%;
    margin: 0px;
}
.blue:nth-child(2){
    width: 25%;
    height: 100%;
}
.pink{
    background: pink;
    width: 100%;
    height: 95%;
    margin-top: 5px;
    margin-bottom: 5px;
}
@media (max-width: 540px) {
    .green{
        width:95% ;
        margin: 5px auto;
    }
    .tt,.tb{
        flex-direction: column;
    }
    .yellow,.yellow:nth-child(2){
        margin:10px auto;
        width: 100%;
        height: 50%;
    }
    .bt{
        flex-direction: column;
    }
    .blue,.blue:nth-child(2){
        margin:10px auto;
        width: 100%;
        height: 50%;
    }
    .pink{
        height: 30%;
    }


}
